<VirtualHost *:80>
  ServerName {{ server_name }}

  DocumentRoot {{ install_path }}/Web

  SetEnv FLOW_CONTEXT Production

  CustomLog /var/log/apache2/{{ server_name }}.log combined
  ErrorLog /var/log/apache2/{{ server_name }}.error.log
</VirtualHost>