server {
  listen 80;

  access_log /var/log/nginx/{{ item.name }}/nginx_access.log combined buffer=16k;
  error_log /var/log/nginx/{{ item.name }}/nginx_error.log;

  server_name {{ item.server_name }};

  root /var/www/vhosts/{{ item.name }}/Web;
  index index.php index.html;

  autoindex off;
  port_in_redirect off;
  server_tokens off;

  client_max_body_size 15m;
  client_body_buffer_size 128k;

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  try_files $uri $uri/ /index.php?$args;

  location ~ "^/_Resources/Persistent/" {
    access_log off;
    log_not_found off;

    expires 365d;
    add_header Pragma public;
    add_header Cache-Control "public";

    rewrite "(.{40})/.+\.(.+)" /_Resources/Persistent/$1.$2 break;
    rewrite "([a-z0-9]+/(.+/)?[a-f0-9]{40})/.+\.(.+)" /_Resources/Persistent/$1.$2 break;
  }

  location ~* \.(?:ico|css|js|gif|jpe?g|png|eot|otf|svg|ttf|woff)$ {
    expires 60d;
    add_header Pragma public;
    add_header Cache-Control "public";
  }

  location ~ \.php$ {
    default_type text/html;
    charset utf-8;

    fastcgi_param FLOW_CONTEXT "{{ item.context | default('Development') }}";
    fastcgi_param FLOW_REWRITEURLS 1;

    try_files $uri =404;

    fastcgi_index index.php;
    fastcgi_pass unix:/var/run/php5-fpm-{{ item.name }}.sock;

    include fastcgi_params;

    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }
}