date.timezone = {{ php_timezone }}

display_errors = off
error_reporting  =  E_ALL | E_STRICT

memory_limit = {{ php_memory_limit }}
upload_max_filesize = {{ php_upload_max_filesize }}

detect_unicode = Off
session.gc_maxlifetime = 14400
error_reporting = E_ALL | E_STRICT

xdebug.max_nesting_level = 1000